@import "tailwindcss";

@theme {
  --color-light-mode: #f9f9fb;

  --color-primary-0: #ffffff;
  --color-primary-100: #c7cefa;
  --color-primary-200: #9da7f2;
  --color-primary-300: #7481ea;
  --color-primary-400: #4a5ae0;
  --color-primary-500: #1a2dd8;
  --color-primary-600: #1729c3;
  --color-primary-700: #1323a7;
  --color-primary-800: #0f1d8b;
  --color-primary-900: #0b156a;

  --color-gray-100: #f3f3f3;
  --color-gray-200: #e7e7e7;
  --color-gray-300: #bababa;
  --color-gray-400: #757575;
  --color-gray-500: #191919;
  --color-gray-600: #151212;
  --color-gray-700: #120c0d;
  --color-gray-800: #0e0709;
  --color-gray-900: #0c0407;

  --color-success-100: #e5fcda;
  --color-success-200: #c6fab7;
  --color-success-300: #9ef290;
  --color-success-400: #78e672;
  --color-success-500: #46d64b;
  --color-success-600: #33b843;
  --color-success-700: #239a3c;
  --color-success-800: #167c34;
  --color-success-900: #0d6630;

  --color-error-100: #fee5d4;
  --color-error-200: #fec4ab;
  --color-error-300: #fe9b80;
  --color-error-400: #fd7561;
  --color-error-500: #fc372d;
  --color-error-600: #d82027;
  --color-error-700: #b51629;
  --color-error-800: #920e29;
  --color-error-900: #780828;

  --color-warning-100: #fff6cc;
  --color-warning-200: #ffea99;
  --color-warning-300: #ffdc66;
  --color-warning-400: #ffcd3f;
  --color-warning-500: #ffb600;

  --animate-fade-in-overlay: fade-in-overlay 0.4s cubic-bezier(0.16, 1, 0.3, 1);
  --animate-fade-in-content: fade-in-content 0.4s cubic-bezier(0.16, 1, 0.3, 1);

  @keyframes fade-in-overlay-content {
    0% {
      opacity: 0;
      transform: translate(-50%, -48%) scale(0.96);
    }

    100% {
      opacity: 1;
      transform: translate(-50%, -50%) scale(1);
    }
  }

  @keyframes fade-in-overlay {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }
}

@layer base {
  ::-webkit-scrollbar-track {
    @apply w-1 bg-white
  }

  ::-webkit-scrollbar {
    @apply w-1 bg-primary-400 rounded-xl
  }

  ::-webkit-scrollbar-thumb {
    @apply w-1 bg-primary-400 rounded-xl
  }
}